{{>header}}
{{>navbar}}
    <form method="post">
        <div class="mb-3">
            <input class="form-control" placeholder="Name" name="Name">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Balance" name="Balance">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">add Account</button>
        </div>
    </form>
{{>footer}}