</section>

<footer class="bg-dark text-white text-center p-3 fixed-bottom">
    @copyrights
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>