{{>header}}
{{>navbar}}
    <form method="post">
        {{#if notUnique}}
            <tr class="alert alert-danger text-center">
                <td colspan="4">Title must be unique</td>
            </tr>
        {{/if}}
        <div class="mb-3">
            <input class="form-control" placeholder="title" name="title">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="content" name="content">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">add task</button>
        </div>
    </form>
{{>footer}}